<%- include('../partials/header') %>

<section id="show-page">
  <div>List: </div>
  <div><%= list.listName %></div>
  <div>Due By: </div>
  <div><%= list.dueDate %></div>
  <div>Shop At: </div>
  <div><%= list.location %></div>
  <div>Done: </div>
  <div><%= list.completed ? 'Yes' : 'Nope' %></div>
</section>

<br>

<section>
  <h2>Update List</h2>
  <form action="/lists/<%= list._id %>/?_method=PUT" method="POST">
    <label>List:
      <input type="text" name="listName" value="<%= list.listName %>">
    </label><br>
    <label>Due By:
      <input type="date" name="dueDate" value="<%= list.dueDate ? list.dueDate.toISOString().split('T')[0] : '' %>">
    </label><br>
    <label>Shop At:</label>
    <select name="location">
      <option value="Harris Teeter" <%= list.location === 'Harris Teeter' ? 'selected' : '' %>>Harris Teeter</option>
      <option value="Walmart" <%= list.location === 'Walmart' ? 'selected' : '' %>>Walmart</option>
      <option value="Target" <%= list.location === 'Target' ? 'selected' : '' %>>Target</option>
      <option value="Trader Joe's" <%= list.location === 'Trader Joe\'s' ? 'selected' : '' %>>Trader Joe's</option>
      <option value="Aldi" <%= list.location === 'Aldi' ? 'selected' : '' %>>Aldi</option>
      <option value="Lidl" <%= list.location === 'Lidl' ? 'selected' : '' %>>Lidl</option>
      <option value="World Market" <%= list.location === 'World Market' ? 'selected' : '' %>>World Market</option>
      <option value="Patel Brothers" <%= list.location === 'Patel Brothers' ? 'selected' : '' %>>Patel Brothers</option>
      <option value="other" <%= list.location === 'other' ? 'selected' : '' %>>Other</option>
    </select><br>
    <label>Completed:
      <input type="checkbox" name="completed">
    </label><br>
    <button type="submit">UPDATE List</button>
  </form>

</section>

<br>

<h2>Items</h2>
<form id="add-item-form" method="POST" action="/lists/<%= list._id %>/items">
  <label>List Items:</label>
  <input type='text' name="itemName"></input>
  <label>Quantity:</label>
  <input type="Number" name="quantity">
  <label>Category:</label>
  <select name="category">
    <option value="Home & Living">Home & Living</option>
    <option value="Food">Food</option>
    <option value="Clothing">Clothing</option>
    <option value="other">other</option>
  </select>
  <label>Completed:
    <input type="checkbox" name="completed">
  </label>
  <input type="submit" value="Add Item">
</form>

<% if (list.items.length) { %>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <% list.items.forEach(function(i) { %>
          <tr>
            <td><%= i.itemName %></td>
            <td><%= i.quantity %></td>
            <td><%= i.category %></td>
            <td><%= i.completed ? 'Yes' : 'Nope' %></td>
            <td><form action="/items/<%= i._id %>?_method=DELETE" method="POST"><button type="submit">X</button></form></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Items Yet</h5>
  <% } %>
  
<%- include('../partials/footer') %>
