<%- include('../partials/header') %>

<h2><td><%= list.listName %></td></h2>
<p>Go shopping by <strong><%= new Date(list.dueDate).toLocaleDateString('en-US') %></strong> and shop at <strong><%= list.location %></strong>.</p>

<% if (list.items.length) { %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% list.items.forEach(function(i) { %>
        <tr>
          <td><input type="checkbox" class="check"></td>
          <td><%= i.itemName %></td>
          <td><%= i.quantity %></td>
          <td><%= i.category %></td>
          <td><form action="/items/<%= i._id %>?_method=DELETE" method="POST" id="remove"><button type="submit">X</button></form></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Items Yet</h5>
<% } %>


<div class="container">
<section class="form-containers">
  <form id="add-item-form" method="POST" action="/lists/<%= list._id %>/items" id="form2" class="form">
    <h3>Add Items</h3>
    <label>List Items:</label>
    <input type='text' name="itemName">
    <label>Quantity:</label>
    <input type="number" name="quantity">
    <label>Category:</label>
    <select name="category">
      <option value="Food 🍔">Food 🍔</option>
      <option value="Home & Living 🏠">Home & Living 🏠</option>
      <option value="Clothing 🧦">Clothing 🧦</option>
      <option value="other">other</option>
    </select>
    <input type="submit" value="Add Item">
  </form>

  <br>
  
  <form action="/lists/<%= list._id %>/?_method=PUT" method="POST" id="form1" class="form">
    <h3>Update List Info</h3>
    <label>List:
      <input type="text" name="listName" value="<%= list.listName %>">
    </label><br>
    <label>Due By:
      <input type="date" name="dueDate" value="<%= list.dueDate ? list.dueDate.toISOString().split('T')[0] : '' %>">
    </label><br>
    <label>Shop At:</label>
    <select name="location">
      <option value="Harris Teeter" <%= list.location === 'Harris Teeter' ? 'selected' : '' %>>Harris Teeter</option>
      <option value="Walmart" <%= list.location === 'Walmart' ? 'selected' : '' %>>Walmart</option>
      <option value="Target" <%= list.location === 'Target' ? 'selected' : '' %>>Target</option>
      <option value="Trader Joe's" <%= list.location === 'Trader Joe\'s' ? 'selected' : '' %>>Trader Joe's</option>
      <option value="Aldi" <%= list.location === 'Aldi' ? 'selected' : '' %>>Aldi</option>
      <option value="Lidl" <%= list.location === 'Lidl' ? 'selected' : '' %>>Lidl</option>
      <option value="World Market" <%= list.location === 'World Market' ? 'selected' : '' %>>World Market</option>
      <option value="Patel Brothers" <%= list.location === 'Patel Brothers' ? 'selected' : '' %>>Patel Brothers</option>
      <option value="other" <%= list.location === 'other' ? 'selected' : '' %>>Other</option>
    </select><br>
    <button type="submit">Update List Info</button>
  </form>




</section>
</div>
<%- include('../partials/footer') %>